---
import BaseLayout from '../../layouts/base.astro'
import Blogs from '../../components/BlogList.astro'
---
<BaseLayout
	title="fffood / Blog" 
	description="Latest news and insights"
	hero="/img/heroes/blog.jpg">

	<section class="section section--darkest">
		<div class="section__inner">
			<h1>Blog</h1>		
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

	<section class="section section--lightest">
		<div class="section__inner">
			<Blogs />	
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	
</BaseLayout>