---
import '../../styles/base.scss';
import BaseLayout from '../../layouts/base.astro'
---
<BaseLayout
	title="fffood / Blog" 
	description="Latest news and insights">

	<section class="section section--darkest">
		<div class="section__inner">
			<h1>Blog</h1>		
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

	<section class="section section--lightest">
		<div class="section__inner">
			
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	
</BaseLayout>