@use "vars";

.button {
    display: inline-block;
    background: #f6002a;
    color: #fff;
    text-decoration: none;
    padding: 12px 26px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    font-weight: 700;

    font-size: inherit;
    font-family: inherit;
    
    line-height: 1.6;

    border: 0;

    cursor: pointer;



    &--bubblegum{
        background: vars.$colour-bubblegum-pink;     
        &:hover{
            @media (min-width: 600px) {
                background: vars.$colour-green!important;              
            }
        }
    }

    &--green{
        background: vars.$colour-green!important;  
        &:hover{
            @media (min-width: 600px) {
                background: vars.$colour-bubblegum-pink!important;              
            }
        } 
    }

    &--disabled{
        background: rgba(255,255,255,.5)!important;  
        &:hover{
            @media (min-width: 600px) {
                background: rgba(255,255,255,.5)!important;  
            }
        }
    }

    
    &:hover{
        @media (min-width: 600px) {
            background: vars.$colour-bubblegum-pink;
        }
    }

}

.round{
    text-decoration: none;
    display: flex;
    background: vars.$colour-off-cream-light;
    color: white;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: auto;
    
    border-radius: 50%;
    font-size: .6em; 
   
    &:hover{
        @media (min-width: 600px) {
            background: red; 
            i::before{
                content: "\f068";
            }           
        }
    }   
    &--disabled{
        background: vars.$colour-off-cream-light;
    }
    &--green{
        background: vars.$colour-green;
    }
}