@use "vars";

.calculator{
    &__action{
        display: flex;
        justify-content: space-between;
        line-height: 1;
    }
    &__cursor{
        color: vars.$colour-off-cream-dark;
    }
    &__total{
        font-size: 2em;
        font-weight: bold;
    }
}    


.bill{
    position: relative;
    &__footer{
        position: absolute;
        bottom: var(--h-rule);
        right: var(--h-rule);
        left: var(--h-rule);  
        width: auto;      
    }
    &__scroll{
        position: relative;
        overflow-y: scroll;
        height: 260px;
        margin-bottom: 70px;
    }
}