@use "vars";

.calculator{
    &__action{
        display: flex;
        justify-content: space-between;
        line-height: 1;
    }
    &__cursor{
        color: vars.$colour-off-cream-dark;
    }
    &__total{
        font-size: 2em;
        font-weight: bold;
    }
    &__well{
        background: linear-gradient(to bottom, vars.$colour-bubblegum-pink 0%, #A83572 100%);
        //background-color: 
        // 
    }
    &__headline{
        @media (max-width: 600px) {
            font-size: 2em;
        }
    }
} 


.bill{
    position: relative;
    &__footer{
        position: absolute;
        bottom: var(--h-rule);
        right: var(--h-rule);
        left: var(--h-rule);  
        width: auto;      
    }
    &__scroll{
        position: relative;
        overflow-y: scroll;
        min-height: 260px;
        margin-bottom: 70px;
        @media (max-width: 600px){
            min-height: 100px;
        }
    }  
}