@use "vars";

.card{
    text-decoration: none;
    color: inherit;
    background: white;
    position: relative;
    overflow: hidden;
    border-radius: vars.$radius;

    &--dark{
        background-color: #333;
    }
    
    &__heading{
        margin-bottom: 0!important;
    }

    &__info{
        padding: var(--h-rule);
    }  
    &__thumb{
        // height: 200px;
        background-color: vars.$colour-off-cream-dark;
        // background-size: cover;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &:hover{
        background-color: vars.$colour-green;
        color: white;
    }  
}