@use "vars";

.footer{

    display: flex;
    justify-content: space-between;

    a{
        color: #ccc;
    }
    &__link{
        &--lrg{
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-size: 1.6em;
            font-weight: bold;
            font-family: "Oswald", sans-serif;
            &:hover{
                color: vars.$colour-bubblegum-pink;
            }
        }        
    }

    &__right{
        text-align: right;
    }

    @media (max-width: 600px) {
        flex-direction: column-reverse;
        &__right{
            margin-bottom: var(--h-rule);
            text-align: left;
        }
    }

}