@use "vars";

.footer{

    a{
        color: #ccc;
    }
    &__link{
        &--lrg{
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-size: 1.6em;
            font-weight: bold;
            font-family: "Oswald", sans-serif;
            &:hover{
                color: vars.$colour-bubblegum-pink;
            }
        }        
    }

    &__right{
        text-align: right;        
    }

    &__top{
        min-width: 100%;
        margin-bottom: var(--gutter);
    }

    &__brand{
        display: block;
       //  margin-bottom: var(--gutter);
        width: 100px;
    }   

    @media (max-width: 980px) {
        &__right{
            // margin-bottom: var(--h-rule);
            text-align: left;
        }
    }

}