@use "vars";

.grid {
    display: flex;
    gap: var(--h-rule);

    &--thirds {
        > * {
            flex: 0 0 calc((100% - 2 * var(--h-rule)) / 3);
        }
    }

    &--halves{
        > * {
            flex: 0 0 calc((100% - var(--h-rule)) / 2);
        }
    }


    &--two-thirds-one-third {

        gap: var(--gutter);

        > :first-child {
        flex: 0 0 calc((100% - var(--gutter)) * 2 / 3);
        }

        > :last-child {
        flex: 0 0 calc((100% - var(--gutter)) / 3);
        }
    }

    &--bottom-margin {
        margin-bottom: var(--h-rule);
    }
    &--top-margin {
        margin-top: var(--gutter);
    }

    @media (max-width: 600px){
        flex-direction: column;
    }

}