.hero{

    min-height: 640px;

    background: url(/img/heroes/fleek.png);
    background-size: cover;
    background-position: center bottom;

    &--slim{
        min-height: 140px;
    }

    @media (max-width: 600px) {
        min-height: 400px;
        &--slim{
            min-height: 130px;
        }
    }
    
}