.hero{

    min-height: 640px;

    background: url(/img/heroes/fleek.png);
    background-size: cover;
    background-position: center bottom;

    &--slim{
        min-height: 140px;
    }

    &--slim-at-mobile{

    }

    @media (max-width: 600px) {        
        min-height: 400px;
        &--slim{                
            background-size: auto;        
            min-height: 120px;        
        }
    }
    
}