@use "vars";

.nav{
    position: fixed;    
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;

    a{
        color: white;        
        text-decoration: none;            
        // font-weight: bold;
        padding: 0 20px;
        height: 100%;
        display: flex;
        align-items: center;
        line-height: 1;
    }
    
    &__inner{        
        max-width: vars.$max-width;        
        padding-left: var(--gutter);
        padding-right: var(--gutter);
        margin: auto;        
    }

    &__bars{
        display: flex;
        margin-top: 30px;
        width: 100%;
    }

    &__bar{
        height: 60px;
        display: flex;
        justify-content: end;                       
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        line-height: 1;

        &:not(:last-child){
            margin-right: 8px;
        }

        &--blur{
            background-color: rgba(0,0,0,.4);        
            backdrop-filter: blur(10px);
        }
        
        &--stretch{
            flex: 1 1 auto; 
        }
    
    }


    &__links{
        display: flex;     
        margin: 0px!important;        
          
        a{                        
            &:hover{
                background-color: vars.$colour-bubblegum-pink;
            }
        } 
   
        li:last-child {
            a{
                padding-right: 34px;
            }
        }
                    
        @media (max-width: 910px){
            display: none;
        }      
    }
    
    &__button{  
        
        display: block;    
        text-align: center;                                     
        font-weight: normal;

        min-width: 60px; 
        
        &--burger{
            display: none!important;
            background-color: vars.$colour-bubblegum-pink;
            font-size: 1.5em;
                        
            @media (max-width: 900px){
                display: flex!important;
            }  
        }
        &--contact{
            font-size: 1.5em;
            background-color: vars.$colour-green;
            @media (max-width: 600px){
                
            }  
        }

        
        &:hover{
            @media (max-width: 600px){
                background-color: vars.$colour-bubblegum-pink;
            }            
        }      
    }

    &__brand{
        position: absolute;
        z-index: 1;        
        margin-top: 125px;
        // margin-left: 10px;
    }
}