@use "vars";

.nav{
    position: fixed;    
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;

    a{
        color: white;
        display: block;
        text-decoration: none;            
        font-weight: bold;
    }
    
    &__inner{        
        max-width: vars.$max-width;        
        padding-left: var(--gutter);
        padding-right: var(--gutter);
        margin: auto;
    }

    &__bar{
        display: flex;
        justify-content: end;
        align-items: center;                
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        background-color: rgba(0,0,0,.4);        
        line-height: 1;
        backdrop-filter: blur(10px);
        margin-top: 30px;
        height: 59px;
    }


    &__links{
        display: flex;     
        margin: 0px!important;
          
        a{            
            padding: var(--h-rule) 14px;
            &:hover{
                background-color: vars.$colour-bubblegum-pink;
            }
        }  
        @media (max-width: 910px){
            display: none;
        }      
    }
    
    &__button{  

        padding: 0px;

        display: block;
        // align-self: stretch; /* default, but explicit is good */
        height: 100%;
        padding-top: 15px;
        // justify-content: center;
        // align-items: center; 
        text-align: center;                                     
        font-weight: normal;

        font-size: 1.4em;
        
        &--burger{
            display: none!important;
            background-color: vars.$colour-bubblegum-pink;
            
            width: 60px;
            @media (max-width: 900px){
                display: block!important;
            }  
        }
        &--contact{
            background-color: vars.$colour-green;
              
            width: 70px;
            padding-right: 6px!important;
            
            @media (max-width: 600px){
                font-size: 1.5em;
            }  
        }

        
        &:hover{
            @media (max-width: 600px){
                background-color: vars.$colour-bubblegum-pink;
            }            
        }      
    }

    &__brand{
        position: absolute;
        z-index: 1;        
        margin-top: -17px;
        margin-left: 10px;
    }
}