@use "vars";

.section{

    max-width: vars.$max-width;
    margin: auto;

    &__list{
        padding-top: var(--gutter);
        padding-bottom: var(--gutter);
    }

    &__inner{
        padding: var(--gutter);
        margin: auto;

        &--slim{
            padding-top: var(--h-rule);
            padding-bottom: var(--h-rule);
            line-height: 1;            
        }

        &--full{
            padding: 0px;
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        
    }
    &--darkest{
        background-color: #111;
    }
    &--dark{
        background-color: #222;
    }
    &--brown{
        background-color: vars.$colour-deep-brown;
    }
    &--light{
        background-color: #CDB9C3;
        color: #111;
    }
    &--lightest{
        background-color: #E3CED9;
        color: #111;
    }
    &--butter{
        background-color: vars.$colour-butter-yellow;
    }
    &--fade{
        // background: linear-gradient(to bottom, rgba(17, 17, 17, .5) 0%, rgba(17, 17, 17, .9) 100%);
        background: linear-gradient(to bottom, #333 0%, #111 100%);
    }
    &--fade-reverse{
        // background: linear-gradient(to bottom, rgba(17, 17, 17, .5) 0%, rgba(17, 17, 17, .9) 100%);
        background: linear-gradient(to bottom, #111 0%, #222 100%);
    }
    &--girl{

        background-image: url(/img/heroes/hero.jpg);
        // background-size: 99%;
        background-position: right -120px;
        background-repeat: no-repeat;

        .section__inner{
            max-width: 50%;
            margin-left: 0;
            @media (max-width: 600px){
                max-width: 100%;
            }
        }
    }

}