@use "vars";

.section{

    max-width: vars.$max-width;
    margin: auto;

    &__inner{
        padding: var(--gutter);
        margin: auto;

        &--slim{
            padding-top: var(--h-rule);
            padding-bottom: var(--h-rule);
            line-height: 1;            
        }
        
    }
    &--darkest{
        background-color: #111;
    }
    &--dark{
        background-color: #222;
    }
    &--light{
        background-color: #CDB9C3;
        color: #111;
    }
    &--lightest{
        background-color: #E3CED9;
        color: #111;
    }
    &--butter{
        background-color: vars.$colour-butter-yellow;
    }

}