@use "vars";

.table{
    border-collapse: collapse;
    width: 100%;
    border-radius: vars.$radius;
    position: relative;

    th, td{            
        padding: 4px 12px;       
    }
    thead{
        border-bottom: solid 2px vars.$colour-off-cream-light;
        text-align: left;    
  
    }
    tfoot{
        border-top: solid 2px vars.$colour-off-cream-light;
        text-align: left;
        th, td{            
            vertical-align: middle;     
        }  
    }
    tbody{        
        tr{
            &:hover{
               //  background: #CDB9C3;
            }
        }
    } 

    &__cell{
        &--slim{
            width: 28px;
            padding-left: 0!important;
            padding-right: 0!important;
            line-height: 1;
        }
        &--center{
            text-align: center;
        }
        &--right{
            text-align: right;
        }
    }
}