@use "vars";

p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote, form{
    &:not(:last-child){
        margin-bottom: var(--h-rule);
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
}

h1{
    font-size: 3em;
    line-height: 1;
}

h2{
    font-size: 2.6em;
    line-height: 1;
}

blockquote{
    font-size: 1.2em;
    font-style: italic;
    padding-left: var(--h-rule);
    border-left: solid 4px vars.$colour-bubblegum-pink;
    color: #ccc;
    cite{
        display: block;
        color: white;
    }
}

.typography{
    ul{
        padding-left: var(--h-rule);
        li::before {
            content: "●";
            color: vars.$colour-bubblegum-pink;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }
}