p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote, form{
    &:not(:last-child){
        margin-bottom: var(--h-rule);
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

h1{
    font-size: 3em;
    line-height: 1;
}