@use "vars";

.u-{
    &hidden{
        display: none;
    }
    &no-mobile{
        @media (max-width: 800px) {
            display: none!important;
        }
    }
    &red{
        color: vars.$colour-bright-red;
    }
    &p-first-child{
        font-size: 1.2em;
        margin-bottom: var(--h-rule);
    }  
    &measure{
        max-width: 800px;
    }  
    &label{
        display: inline-block;
        padding: 6px var(--h-rule);
        background-color: rgba(255,255,255,.3);
        position: relative;
        overflow: hidden;
        border-radius: vars.$radius;
    }
    &shadow{
        --shadow-offset: 7px;
        --shadow-color: rgba(0, 0, 0, 0.2);
        box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0 var(--shadow-color);
    }
    &grey{
        color: #666;
    }
}
