@use "vars";

.u-{
    &hidden{
        display: none;
    }
    &no-mobile{
        @media (max-width: 800px) {
            display: none;
        }
    }
    &red{
        color: vars.$colour-bright-red;
    }
    &p-first-child{
        font-size: 1.2em;
        margin-bottom: var(--h-rule);
    }  
    &measure{
        max-width: 800px;
    }  
}
