@use "vars";
@use "util";
@use "flash";
@use "footer";
@use "form";
@use "section";
@use "typography";
@use "brand";
@use "hero";
@use "button";
@use "table";
@use "well";
@use "calculator";
@use "nav";
@use "overlay";
@use "card";
@use "grid";

a{
    color: vars.$colour-bubblegum-pink;
    &:hover{
        text-decoration: none;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html, body{
    background: black;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

body{
    background-color: #222;
    background-image: url(/img/tille.png);
    background-attachment: fixed;
}

small{
    display: block;
    line-height: 1.4;
}
