---
import '../styles/base.scss';
import Form from '../components/Form.vue';
import BaseLayout from '../layouts/base.astro'
---
<BaseLayout
	title="fffood / Contact us" 
	description="Let's talk!"
	hero="/img/heroes/contact.jpg"
    showCTA={false}>

	<section class="section section--darkest">
		<div class="section__inner">	
			<h1>Get in touch</h1>
			<p class="u-measure">Got a project in mind or just want to say hello? Let's chat.</p>
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->				

	<section class="section section--dark">
		<div class="section__inner">			
			<Form client:load mode="contact" salt="bbb" />
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

</BaseLayout>