---
import '../styles/global.scss';
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="fffood" description="Coming Soon" />		
	</head>
	<body>

		<section class="section">
			<div class="section__row section__row--stretch hero">
				<!-- <img class="hero__bg" src="/img/bg.jpg" /> -->
				<img class="hero__brand brand" src="/img/fffood-brand-red.png" />
			</div>
			<div class="section__row">
				<h1>Thinking Small</h1>
				<p><strong>Our site’s launching soon.</strong>
					<br>Want to talk in the meantime?</p>
				<p><a class="button" href="https://wa.me/447771535355">Click to chat</a></p>
			</div>
			<div class="section__row footer">
				<a href="tel:07771535355">07771 535 355</a>
			</div>
		</section>
		
	</body>
</html>
