---
import '../styles/global.scss';
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Fffood" description="Coming Soon" />
	</head>
	<body>
		<!-- <img class="brand" width="200px" src="/img/fffood-brand-red.png"> -->
	</body>
</html>
