---
import '../styles/global.scss';
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="fffood" description="We give small businesses a confident digital presence" />		
	</head>
	<body>

		<section class="section">
			<div class="section__row hero">				
				<img class="hero__brand brand" src="/img/fffood-brand-red.png" />
			</div>
			<div class="section__row section__row--black">
				<h1>Thinking Small</h1>
				<p>
					We give small businesses a confident digital presence. <br class="u-no-mobile">Smart, purposeful, affordable, and shaped by big brand thinking.</p>
				<p><strong>Our site’s launching soon.</strong>
					<br>Want to talk in the meantime?</p>
				<p><a class="button" href="https://wa.me/447771535355"><i class="fa-brands fa-whatsapp"></i> Click to chat</a></p>
			</div>
			<div class="section__row footer">
				<span>❤ Bristol, UK</span> <a href="mailto:desk@fffood.agency">desk@fffood.agency</a>
			</div>
		</section>
		
	</body>
</html>
