---
import '../styles/base.scss';
import BaseLayout from '../layouts/base.astro'
import CaseStudies from '../components/CaseStudyList.astro'
import Blogs from '../components/BlogList.astro'
import WhatWeDo from '../components/WhatWeDo.astro'
---
<BaseLayout
	title="fffood / Smart, purposeful and affordable digital in Bristol, UK" 
	description="We give small businesses a confident digital presence"
	showCTA={true}>

	<section class="section section--darkest">
		<div class="section__inner">

			<h1>Thinking Small</h1>

			<p><strong>We give small businesses a confident digital presence.</strong><br class="u-no-mobile">
			Smart, purposeful, affordable, and shaped by big brand thinking.</p>

			<p><a class="button" href="https://wa.me/447771535355">
				<i class="fa-brands fa-whatsapp"></i> Click to chat</a></p>

		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

	<section class="section section--car">
		<div class="u-fade">
			<div class="section__inner">
				<WhatWeDo />
			</div>
		</div>
	</section>

	<section class="section section--fade">
		<div class="section__inner">
			<div class="section__intro">
				<h2>Recent projects</h2>
				<p class="u-measure"><strong>Every business is different.</strong> These examples show how we’ve adapted our approach to suit different needs, budgets and starting points.</p>
			</div>
			<div class="section__list">
				<CaseStudies />
			</div>
			<a class="button button--green" href="/case-studies">Read more</a>

		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	

	<section class="section section--fade">
		<div class="section__inner">
			<div class="section__intro">
				<h2>Blog</h2>
				<p class="u-measure"><strong>Insights, ideas, and practical advice on making the web work better</strong> — for your users and your business.</p>
			</div>
			<div class="section__list">
				<Blogs />
			</div>
			<a class="button button--green" href="/blog">Read more</a>

		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	
	
</BaseLayout>