---
import '../styles/base.scss';
import BaseHead from '../components/BaseHead.astro';
import Form from '../components/Form.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
			title="fffood" 
			description="We give small businesses a confident digital presence" />		
	</head>
	<body>

		<section class="section section--butter">
			<div class="section__inner">				
				<img class="brand" src="/img/fffood-brand-red.png" />	
			  </div> <!-- /.section__inner -->
		</section> <!-- /.section -->

		<section class="section section--darkest">
    		<div class="section__inner">
				<h2>Subscribe</h2>
				<Form mode="subscribe" salt="aslkdjnld" />
				<p>Subscribe to our mailing list for occasional updates and useful digital tips.<br> 
					<a href="#">We respect your privacy</a></p>
  			</div> <!-- /.section__inner -->
		</section> <!-- /.section -->

		<section class="section section--dark">
    		<div class="section__inner">
				<h2>Get in touch</h2>
				<Form mode="contact" salt="addddd" />
		  	</div> <!-- /.section__inner -->
		</section> <!-- /.section -->

		<section class="section">
    		<div class="section__inner footer">
				<ul>
					<li><a href="tel:07771535355">07771 535 355</a></li>
					<li><a href="mailto:desk@fffood.agency">desk@fffood.agency</a></li>
				</ul>
				<ul>
					<li><a href="/privacy-and-cookies">Privacy &amp; Cookies</a></li>				
				</ul>
		  	</div> <!-- /.section__inner -->
		</section> <!-- /.section -->


		<script>

			const forms = document.querySelectorAll(".js-form") as NodeListOf<HTMLFormElement> ;

			forms.forEach((form) => {
				form.addEventListener("submit", async (e) => {

					e.preventDefault();

					console.log(form.id)
					
					const formData = new FormData(form);
					const body = {
						name: formData.get("name"),
						email: formData.get("email"),
					};

					const response = await fetch("/.netlify/functions/emailOctopus", {
						method: "POST",
						body: JSON.stringify(body),
					});

					if (response.ok) {
						alert("Thanks for your message!");
						form.reset();
					} else {
						alert("Something went wrong. Please try again later.");
					}
				});
			})

		</script>

	</body>
</html>
