---
import '../styles/global.scss';
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Fffood" description="Coming Soon" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="bg">
			<img class="brand" src="/img/fffood-brand-red.png">
		</div>
		<div class="holding">			
			<h1>Thinking Small</h1>
						
			<p><strong>Our site’s launching soon.</strong>
				<br>Want to talk in the meantime?
				<br><a href="https://wa.me/00447771535355">Click to chat</a></p>
				
		</div>
		
	</body>
</html>
