---
import '../styles/base.scss';
import BaseHead from '../components/BaseHead.astro';
// import Form from '../components/Form.astro';
import Form from '../components/Form.vue';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
			title="fffood" 
			description="We give small businesses a confident digital presence" />		
	</head>
	<body>

		
		

		<section class="section section--butter">
			<div class="section__inner">				
				<img class="brand" src="/img/fffood-brand-red.png" />	
			</div> <!-- /.section__inner -->
		</section> <!-- /.section -->

		<section class="section section--darkest">
    		<div class="section__inner">
				<h2>Subscribe</h2>
				<Form client:load mode="subscribe" salt="aaa" />
				<p>Subscribe to our mailing list for occasional updates and useful digital tips.<br> 
					<a href="#">We respect your privacy</a></p>
  			</div> <!-- /.section__inner -->
		</section> <!-- /.section -->

		<section class="section section--dark">
    		<div class="section__inner">
				<h2>Get in touch</h2>
				<Form client:load mode="contact" salt="bbb" />
		  	</div> <!-- /.section__inner -->
		</section> <!-- /.section -->

		<section class="section">
    		<div class="section__inner footer">
				<ul>
					<li><a href="tel:07771535355">07771 535 355</a></li>
					<li><a href="mailto:desk@fffood.agency">desk@fffood.agency</a></li>
				</ul>
				<ul>
					<li><a href="/privacy-and-cookies">Privacy &amp; Cookies</a></li>				
				</ul>
		  	</div> <!-- /.section__inner -->
		</section> <!-- /.section -->


		<script>

			const forms = document.querySelectorAll(".js-form") as NodeListOf<HTMLFormElement> ;

			forms.forEach((form) => {
				form.addEventListener("submit", async (e) => {

					e.preventDefault()
					
					const formData = new FormData(form);
					const body = {
						name: formData.get("name"),
						email: formData.get("email"),
						message: formData.get("message"),
						mode: formData.get("mode"),
						subscribe: formData.get("subscribe")
					};

					const response = await fetch("/.netlify/functions/emailOctopus", {
						method: "POST",
						body: JSON.stringify(body),
					});

					let flash: Element = form.querySelector('.js-flash')!
					let heading: Element = flash.querySelector('.js-flash-heading')!
					let message: Element = flash.querySelector('.js-flash-message')!
					let mode = formData.get("mode")

					if (response.ok) {

						flash.classList.remove('u-hidden');
						flash.classList.add('flash--200');

						if(mode == "subscribe"){
							heading.innerHTML = "Thank you for your subscription"
							message.innerHTML = "You can remove yourself at any time by following to unsubscribe link in the emails."
						} else {
							heading.innerHTML = "Thank you for your enquiry"
							message.innerHTML = "We'll be in contact shortly."
						}
						
						form.reset();

					} else {
						flash.classList.remove('u-hidden');
						flash.classList.add('flash--500');
						heading.innerHTML = "Something went wrong"
						message.innerHTML = "Please try again later."					
					}
				});
			})

		</script>

	</body>
</html>
