---
import '../styles/base.scss';
import BaseLayout from '../layouts/base.astro'
---
<BaseLayout
	title="fffood / What we do" 
	description="How much does it cost"
	hero="/img/heroes/crew.jpg">


	<section class="section section--darkest">
		<div class="section__inner">
			<h1>What we do</h1>		
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

	<section class="section section--lightest">
		<div class="section__inner">
			
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	

</BaseLayout>