<section class="section section--robots">			
    <div class="section__inner u-fade">
        
        <h2>How We Use AI</h2>					
        <p><strong>We use AI to speed things up</strong> — not to cut corners.</p>

        <!-- <div class="grid grid--halves"> -->
            <div class="u-measure">					
                <p><strong>AI helps us move faster in research, planning and production. That means we can offer high-quality design, content and strategy</strong> — without bloated timelines or overheads.
                    We still bring the human judgement, creativity and experience. The AI just helps us get there quicker. This approach lets us deliver agency-level thinking at a pace and price that works for small and medium-sized businesses.</p>
                <p><a class="button button--green" href="/blog/how-we-use-ai/">Learn more</a>
            </div>
            <!-- <div class="well u-shadow typography">						
                <h3 class="u-no-bottom">Our promise</h3>
                <ul class="typography__ul typography__ul--checked">
                    <li>You'll never get generic, copy-paste work</li>
                    <li>We'll always be clear when AI is involved</li>
                    <li>You'll always know where your money's going</li>
                </ul>
            </div> -->

        <!-- </div> -->
        
        
    </div>	
</section>	