---
import { getCollection } from 'astro:content'
const posts = await getCollection('case-studies')
---
<div class="grid grid--thirds">

    {
        posts.map((post) => (
            <a class="card card--dark u-shadow" href={`/case-studies/${post.id}/`} >
                <div class="card__thumb">                
                    <img src={post.data.hero}>
                </div>
                <div class="card__info">
                    <h3 class="card__heading">{post.data.title}</h3>                
                    <p>{post.data.summary}</p>						
                </div>
            </a>
        ))
    }

</div>