---

---
<section class="section">
    <div class="section__inner footer">
        <ul>
            <li><a class="footer__link footer__link--lrg" href="tel:07771535355">07771 535 355</a></li>
            <li><a class="footer__link footer__link--lrg" href="mailto:desk@fffood.agency">desk@fffood.agency</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-heart u-red"></i> Bristol, UK. <a href="/privacy-and-cookies">Privacy &amp; Cookies</a></li>				
        </ul>
    </div> <!-- /.section__inner -->
</section> <!-- /.section -->