---
import Process from "../data/process.json";    
---
<div class="steps">
    <div class="grid grid--thirds">

        {Process.map((step, i) => (
            <div class="steps__step u-shadow">
                <div class="steps__step__row steps__step__label">Step</div>
                <div class="steps__step__row steps__step__number">0{i+1}</div>
                <div class="steps__step__row steps__step__title">{step.title}</div>
                <div class="steps__step__row steps__step__decription"><p>{step.intro}</p></div>
                <div class="steps__step__row steps__step__icon"><i class={step.icon}></i></div>
            </div>   
        ))}

    </div>
</div>