---
import '../styles/base.scss';
import BaseHead from '../components/BaseHead.astro';
import Links from '../components/Links.astro';

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
			title={title} 
			description={description} />		
	</head>
	<body>
        <nav class="nav">
            <div class="nav__inner">
                <a href="/">
                    <img class="nav__brand brand" src="/img/fffood-brand-red.png">
                </a>
                <div class="nav__bar">
                    
                    <ul class="nav__links">
                        <Links />                        
                    </ul>

                    <a class="nav__burger" href="/contact">
                        <i class="fa-solid fa-burger"></i>
                    </a>

                    <a class="nav__contact" href="/contact">
                            <i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </nav>
        <section class="section section--butter hero">
		    <div class="section__inner section__inner--full">				
			   
            </div> <!-- /.section__inner -->
        </section> <!-- /.section -->

        <slot />

        <section class="section">
            <div class="section__inner footer">
                <div class="footer__left">
                    <ul>
                        <li><a class="footer__link footer__link--lrg" href="tel:07771535355">07771 535 355</a></li>
                        <li><a class="footer__link footer__link--lrg" href="mailto:desk@fffood.agency">desk@fffood.agency</a></li>
                    </ul>
                    <ul>
                        <li><i class="fa-solid fa-heart u-red"></i> Bristol, UK. <a href="/privacy-and-cookies">Privacy &amp; Cookies</a></li>				
                    </ul>
                </div>

                <div class="footer__right">
                    <ul>
                        <Links />
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>

            </div> <!-- /.section__inner -->
        </section> <!-- /.section -->
		
	</body>
</html>
