---
import '../styles/base.scss';
import BaseHead from '../components/BaseHead.astro';
import Form from '../components/Form.vue';
import Links from '../components/Links.astro';
import Burger from '../components/Burger.vue';

interface Props {
	title: string;
	description: string;
    hero?: string;
    showCTA?: boolean;
}

const { title, description, hero, showCTA } = Astro.props;
const heroStyle = hero ? `background-image: url('${hero}');` : '';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
			title={title} 
			description={description} />		
	</head>
	<body>
        <div id="js-overlay"></div>
        <nav class="nav">
            <div class="nav__inner">

                <a href="/">
                    <img class="nav__brand brand" src="/img/fffood-brand-red.png">
                </a>   
                
                <div class="nav__bars">   
                    <div class="nav__bar nav__bar--stretch nav__bar--blur">                    
                        <ul class="nav__links">
                            <Links />                                                
                        </ul>
                        <Burger client:only="vue">
                            <Links />                          
                        </Burger>
                    </div>
                    <div class="nav__bar">
                        <a class="nav__button nav__button--contact" href="https://wa.me/447771535355">
                            <i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
         
            </div>
        </nav>
        <section style={heroStyle} class="section section--butter hero">
		    <div class="section__inner section__inner--full">				
			   
            </div> <!-- /.section__inner -->
        </section> <!-- /.section -->

        <slot />


        {showCTA ? 
            <section class="section section--butter section--girl">
                <div class="section__inner">
                    <h2>Ready to get started?</h2>
                    <p>Whether you need a new site, a fresh strategy, or just a better way to tell your story — we’re here to help.</p>
                    <p><a class="button button--bubblegum" href="/contact">Let's talk</a></p>
                </div> <!-- /.section__inner -->
            </section> <!-- /.section -->
        : "" }


        <section class="section section--darkest">
            <div class="section__inner">
                <h2>Subscribe</h2>
                <Form client:load mode="subscribe" salt="aaa" />
                <p>Subscribe for occasional updates and useful digital tips.<br> 
                    <a href="/cookies-and-privacy">We respect your privacy</a></p>
            </div> <!-- /.section__inner -->
        </section> <!-- /.section -->

        <section class="section">
            <div class="section__inner footer">
                <div class="footer__left">
                    <ul>
                        <li><a class="footer__link footer__link--lrg" href="tel:07771535355">07771 535 355</a></li>
                        <li><a class="footer__link footer__link--lrg" href="mailto:desk@fffood.agency">desk@fffood.agency</a></li>
                    </ul>
                    <ul>
                        <li><i class="fa-solid fa-heart u-red"></i> Bristol, UK. <a href="/privacy-and-cookies">Privacy &amp; Cookies</a></li>				
                    </ul>
                </div>

                <div class="footer__right">
                    <ul>
                        <Links />                        
                    </ul>
                </div>

            </div> <!-- /.section__inner -->
        </section> <!-- /.section -->

	</body>
</html>
