---
import BaseLayout from '../../layouts/base.astro'
import CaseStudies from '../../components/CaseStudyList.astro'
---
<BaseLayout
	title="fffood / Case Studies" 
	description="Our work"
	hero="/img/heroes/case-studies.jpg"
	showCTA={true}>
	<section class="section section--darkest">
		<div class="section__inner">
			<h1>Case Studies</h1>	
			<p><strong>Big ideas, small budgets, slightly chaotic starting points — these are our people.</strong><br class="u-no-mobile">
        		Here's how we help turn projects around, tidy things up, and bring creative clarity to businesses doing things their way.</p>	
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

	<section class="section section--lightest">
		<div class="section__inner">			
			<CaseStudies />
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	
</BaseLayout>